@using WebAdmin.Models.ModelView
@model WebAdmin.Models.ModelView.ProductMv

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CategoryMv> categories = ViewBag.Categories;
}

@section Scripts
{

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $('.select2').select2();
    </script>
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Create Product</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="container">

        <div class=" my-5">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FileImage" class="control-label"></label>
                    <input asp-for="FileImage" class="form-control" />
                    <span asp-validation-for="FileImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control select2">
                        @foreach (var category in categories)
                        {
                            <option value="@category.Id">@category.Name (@category.CategoryDataParent.Name)</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Detail" class="control-label"></label>
                    <textarea asp-for="Detail" id="editor" class="form-control"></textarea>
                    <span asp-validation-for="Detail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input type="number" asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

